/* font import */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
  pointer-events: none;
  /* Disable right-clicking */
  /* user-drag: none; */
}

::-webkit-scrollbar {
  display: none;
}